body{
    background-image: url("https://moonsik.com/Photos/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-image: linear-gradient(to right, rgb(0, 19, 105), rgb(0, 53, 102));*/
}

h1{
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    margin: 1%;
}

p{
    font-family: Helvetica, sans-serif;
    text-align: justify;
    font-size: 1rem;
    color: rgb(219, 219, 219);
    margin: 1%;
}

img{
    margin: 1%;
    border-radius: 1vh;
}

hr{
    clear: both;
    margin: 10px;
    margin-top: 30rem;
}

header{
    /*border-radius: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.288);*/
}

header::before{
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
}

hgroup.Title{
    justify-content: center;
    margin-top: 15rem;
}

article.Content{
    justify-content: center;
}

footer{
    background-color: azure;
    border-radius: 1vh;
    padding: 1%;
    clear: both;
    margin-top: 10px;
    justify-content: center;

    box-shadow:  10px 10px 12px 0 rgba(0, 0, 0, 0.575);
}

/*MENU DEL HEADER DE LA PAGINA*/

.Menu{
    padding: 0.3%;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;

    margin: auto;
}   

.Menu li{
    display: inline-block;
    text-align: center;

    justify-content: center;
    align-items: center;
    margin: auto;
    padding:0.5rem;
}

.Menu li a{
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: rgb(211, 211, 211);
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
}

.Menu li a:hover{
    color:cadetblue;
}

.Menu li img{
    height: 3rem;
    display: inline-block;
}
